@model IEnumerable<WebApplication.Models.Archive>

@{
    ViewBag.Title = "Probate Archive";
}

@section scripts {
    <script src="~/Scripts/app/del.js"></script>
}

<div ng-app="app-archives">
 
        <table id="archives" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    

</div>