@model IEnumerable<WebApplication.Models.Archive>

@{
    ViewBag.Title = "Probate Archive";
}

@section scripts {
    <script>
        $(document).ready(function () {
            var table = $("#archives")
                .DataTable({
                    ajax: {
                        url: "/api/archives",
                        dataSrc: ""
                    },
                    columns: [
                        {
                            data: "name"
                        },
                        {
                            data: "caseDate"
                        },
                        {
                            data: "category.name"
                        }
                    ]
                });
           
        });



    </script>
}

<div>
 
        <table id="archives" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    

</div>