@model WebApplication.Models.Staff

@{
    ViewBag.Title = Model.Lastname +" "+ Model.Firstname;
}

<h3>Department: @Model.Department.Name</h3>

<hr />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
